.footer
  .container
    .col-sm-6
      &copy; All Rights Reserved. 2015.
    .col-sm-6.text-right
      = link_to "Subpage", "/subpage"
      = link_to "Subpage", "/subpage"
      = link_to "Subpage", "/subpage"
