.header.header-sticky
  .container-fluid
    .navigation.container
      .col-sm-4.col-xs-4
        = link_to "Logo", "/"
      .col-sm-8.text-right.col-xs-8
        = link_to "Subpage", "/subpage"
        = link_to "Subpage", "/subpage"
        = link_to "Subpage", "/subpage"
